@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@300;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  overflow: hidden;
  margin: 0;
  background-color: azure;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  align-items: center;
  justify-content: center;
}

.panel {
  height: 80vh;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  flex: 0.06;
  border-radius: 50px;
  transition: flex 0.5s ease-in 0.1s;
  position: relative;
}

.desc {
  position: absolute;
  top: 530px;
  left: 30px;
}

.panel > .desc {
  opacity: 0;
}

.active {
  flex: 0.3;
}

.active > .desc {
  opacity: 1;
}
